
body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    
    
    
    
}

.header-flex{
    display: flex;
    
    
}

header{
    
    background-color: white
    width: 80%;
    padding-left: 20%;
     
}

.top-nav{
    margin-top: 25px;
    font-size: large;
    
    margin-left: 700px;
    
    list-style: none;
    display: inline-block;
    text-decoration:none;
    
}
.top-nav>a{
    text-decoration:none;
    padding-left: 5px;
    color: black;
}

main>.div-1{
    
    display: flex;
    padding-left: 20%;
    
    
    padding-bottom: 20px;
    
    
}
main>.div-1 img{
    padding-left: 60%;
    
}

h1{
    font-size: 30px;
}
.div-1-1>p{
    padding-bottom: 20px;
}
.button-1{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
    
}
.hr-tag{
    width:65%;
}

.popular-collection>h2{
    text-align: center;
    font-weight: 700;
    padding-bottom: 30px;
}




.popular-collection-grid{
    width: 60%;
    padding-left: 20%;
    display: grid;
    justify-content: center;
    justify-items: center;

    
  
  
  
    
    grid-template-columns: repeat(3,1fr);

    
    grid-row-gap: 50px;

    /* width: 1047px;
    height:1662px; */

    /* left: 196px;
    top: 935px; */
    padding-bottom: 40px;
    
    
    
}

.popular-collection-grid img{
    width: 300px;
    height: 256px;
}



.dimension{
    background-color: white;
    /* width: 329px;
    height: 476px; */
    
    /* border: 1px solid; */
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #5E6366;
}

.dimension h3{
    font-weight: lighter;
}





.fa-star.filled{
    color: orange;
}


.fa-star-half-alt.half-filled{
    color: orange;
}


.div-before-footer{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;


}

.div-before-footer img{
    padding-right: 30px;
    
}

.div-before-footer-2>h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bolder;
}
.div-before-footer-2>p{
    
    padding-bottom: 20px; 
}
.footer{
    padding-top: 10px;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    background-color:rgb(4, 4, 17);
    color: #D9DBE1;
    text-align: center;
    font-weight: 700;
    
    
}
.footer img{
    font-size: 100px;
}


/* Media Queries */

/* mobile devices */

@media only screen and (max-width:688px){


    .header-flex{
        grid-template-columns: repeat(1,1fr);
        background-color: white;
        align-items: center;
        justify-content: left;
        

    }

    

    .div-1{
        width: 100%;
        background-color: white;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        box-sizing: border-box;
        flex-direction: column;
        text-align: left;
        float: left;
        margin: auto;
    }

    .div-1-2{
        width: 10%;
        float: left;
    }
    
    
    .popular-collection-grid{
        
        width: 100%;
        background-color: white;
        grid-template-columns: repeat(1,1fr);
        align-items: left;
        justify-content: left;
        
        box-sizing: border-box;
        flex-direction: column;
        text-align: left;
        float: left;
        margin: auto;
        
         
    }
    .div-before-footer{
        width: 100%;
        background-color: white;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-evenly;
        box-sizing: border-box;
        flex-direction: column;
        text-align: center;
        float: center;
        margin: auto;
    }
    .footer{
        width: 100%;
        background-color: rgb(4, 4, 17);
        grid-template-columns: repeat(1,1fr);
        justify-content: space-evenly;
        box-sizing: border-box;
        flex-direction: column;
        text-align: center;
        float: center;
        margin: auto;
    }
}
}